[Desktop Entry]
Name=Waybar
Comment=violet-chaton status bar
Type=Application
Exec=bash -c "exec 9>/tmp/waybar-start.lock; flock -n 9 || exit 0; exec waybar"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
